* {
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
}



body ,html{
	font-family: "Times New Roman", Georgia, Serif;
  height: 100%;
  margin: 0;
box-sizing: inherit;
}
  hr{border:0;border-top:2px solid #eee;margin:20px 0
  box-sizing:content-box;height:0;overflow:visible}
  
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
  
}
.bg {
  /* The image used */
  background-image: url("HP.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tob{
	position:fixed;width:100%;z-index:1;top:0
}
/* Style the top navigation bar */
.topnav {
   float: left;
  text-align: left-side;
  padding: 14px 16px;
  font-size: 17px;
}


/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  padding: 14px 30px;
}
.nav-card{
	box-shadow:0 9px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
	}

/*Header */

.TitalPos{
	padding:200px 670px;
	position:absolute;left:0;bottom:0;}


/*About */
.row{background-color:#DCD7D6; display: inline-block
; padding:30px 40px;}

.aboutPadding{ 
padding:10px 24px;
}
.image{
		  padding-top:30px;
		  margin-left:200px;
		  }




/*Images */
.column {
  float: left;
  width: 24%;
  padding: 5px;
}

.row {
  content: "";
  clear: both;
  display: table;
}




/* Style the content */
.w3-bar{content:"";display:table;clear:both}
.paddingCont{padding-top:64px;padding-bottom:64px}

.content {
  background-image: url("HP.jpg");
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}


/* Form */

.formStyle {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.footer1{
position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;}
