body  {
  background-image: url("MealBG.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;

}.column {
  float: left;
  width: 24%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}